body{
    width:960px;
    margin:0 auto;
    height:100%;
}
    /*  this targets the area where we are working */
.container{
    margin-top: 10px;
    width:300px;
}

.legend{
    width:300px;
    background-color: lightblue;
    margin-left: 100px;
}
    /* This targets the boxes inside the container*/
.list{
    width:400px;
    height:90px;
    background-color:#74cc63;
    margin:10px;
    position:relative;
}
.priority{
    width:40px;
    height: 90px;
    float:left;
    position: relative;
}

    /* This targets the items inside the list   */
.items{
        width:100px;
        margin: 0 auto;
        text-align: center;
        padding-top:25px;
    }

    /* This targets the delete button */

.delete{
    margin-top: 22px;
    width:200px;
    line-height: 16px;
    margin-left: 25px;
}
    /* This targets the input field */
.add{
    width:150px;
    height:22px;
}
form{
    width:400px;
    margin-left: 40px;
}
    /* This targets all the buttons */
button{
    height: 24px;
    border-radius:15px;
    background-color: #9f089f;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.right{
    float:right;
    margin-right: 10px;
    margin-top: 30px;
}

.text{
    width:100%;
    margin-left: 20px;
    position: relative;
    top:32px;
}
.row{
    margin-left: 10px;
}
.panel-group{
    width:450px !important;
}
.space{
    margin-left: 10px;
}
.Title{
    width:300px;
    margin-top: 70px;
}
li{
    list-style-type:none;
}
