body{
    width:960px;
    margin:0 auto;
    height:100%;
    background-color: #00C5CD;
}
    /*  this targets the area where we are working */
.container{
    margin-top: 10px;
    width:300px;
}

.legend{
    width:300px;
    background-color: lightblue;
    margin-left: 50px;
}
    /* This targets the boxes inside the container*/
.list{
    width:400px;
    height:90px;
    background-color:#74cc63;
    margin:10px;
    position:relative;
}
.priority{
    width:40px;
    height: 90px;
    float:left;
    position: relative;
}

    /* This targets the delete button */

.delete{
    margin-top: 22px;
    width:200px;
    line-height: 16px;
    margin-left: 25px;
}
    /* This targets the input field */
.add{
    width:150px;
    height:22px;
}
form{
    width:400px;
    margin-left: 40px;
}
    /* This targets all the buttons */
.btn-seth{
    border-radius:15px;
    background-color: #9f089f;
}
.btn.disabled .btn-seth , .btn[disabled] .btn-seth{
    background-color: #9f089f !important;
    opacity: 0.6;
}

.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.right{
    float:right;
    margin-right: 10px;
    margin-top: 30px;
}

.text{
    width:100%;
    margin-left: 20px;
    position: relative;
    top:32px;
}
.usertext{
    width:100%;
    left:20px;
    position: relative;
    top:32px;
}

.row{
    margin-left: 10px;
}
.panel-group{
    width:450px !important;
}
.space{
    height:25px;
    color:white;
}
.Title{
    width:300px;
    margin-top: 70px;
}
li{
    list-style-type:none;
}
.login{
    width:300px;
}
.container-fluid{
    width:300px;
    margin:0 auto;
}
.right{
    margin-top: 5px;
}
.top{
    float:right;
    margin-right: 10px;
    margin-top: 35px;
}
.score{
    width:200px;
    background-color: lightblue;
    margin-left: 60px;
    margin-top: 40px;
}
.side{
    width:400px;
    float:right;
}
.background{
    background-color: lightblue;
    width:450px;

}
.status{
    background-color: orange;
}

